.CheckPage {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Heading,
.Text {
  width: 100%;
  color: #2f2f2f;
  display: flex;
}
.Heading {
  font-weight: 800;
  margin-bottom: 5px;
}
.Text {
  font-weight: 400;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
  min-height: 34px;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: #ffffff;
  border: 2px solid #f3e2d9;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  padding-bottom: 5px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  width: 8px;
  height: 15px;
  border: solid #be7043;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 900px) {
  .CheckPage {
    width: 100%;
  }
}
