.DetailsPage {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Heading {
  width: 100%;
  font-weight: 800;
  color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.ButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.PhoneWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
  height: 70px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px;
}
.PhoneHeading {
  font-family: "PublicSans";
  font-weight: 800;
}
.PhoneContent {
  display: flex;
  align-items: center;
}
.FlagWrapper {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.FlagWrapper:hover {
  background-color: rgb(223, 223, 223);
}
.PhonePrefix {
  width: 40px;
}
.SelectIcon {
  position: relative;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  pointer-events: none;
  border-right: 2.5px solid #646464;
  border-bottom: 2.5px solid #646464;
  box-sizing: border-box;
  transform: rotate(45deg);
}
.svkFlag {
  background: url("../assets/images/svk.png") no-repeat center center;
}
.czeFlag {
  background: url("../assets/images/cze.png") no-repeat center center;
}
.svkFlag,
.czeFlag {
  background-size: contain;
  width: 35px;
  height: 22px;
  margin-right: 2px;
}

select {
  font-family: "PublicSans";
  font-weight: 800;
  height: 30px;
  border: 0;
  outline: 0;
}
.Input {
  width: 100%;
  height: 30px;
  position: relative;
  font-family: "PublicSans";
  font-weight: 800;
  font-size: 1em;
  padding: 0 5px;
  display: block;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  outline: none;
}
.Input input:focus {
  outline: none;
}
.Input label {
  color: #2f2f2f;
  font-family: "PublicSans";
  font-weight: 800;
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 25px;
  transition: 0.2s ease all;
}
.Input input:focus ~ label,
.Input input:valid ~ label {
  top: 5px;
  font-size: 0.8em;
  color: #9f9f9f;
  font-weight: 400;
}
@media (max-width: 900px) {
  .DetailsPage {
    width: 100%;
  }
}
