.MainPage {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.TargetBox {
  display: flex;
  font-weight: 600;
  width: 100%;
  margin-bottom: 50px;
}
.TargetBoxLeft,
.TargetBoxRight {
  width: 50%;
  padding: 20px 30px 20px 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.LeftIconActive {
  background: url("../assets/images/wallet_active.svg");
}
.LeftIcon {
  background: url("../assets/images/wallet.svg");
}
.RightIconActive {
  background: url("../assets/images/paw_active.svg");
}
.RightIcon {
  background: url("../assets/images/paw.svg");
}
.LeftIcon,
.RightIcon,
.LeftIconActive,
.RightIconActive {
  background-color: rgba(47, 47, 47, 0.16);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.TargetBoxLeft,
.TargetBoxRight {
  background: #faf9f9;
  border: 1px solid #cd8b65;
  color: #585757;
}
.TargetBoxLeft {
  border-radius: 24px 0px 0px 24px;
}
.TargetBoxRight {
  border-radius: 0px 24px 24px 0px;
}
.TargetBoxActive {
  background: linear-gradient(180deg, #cd8b65 0%, #bb6b3d 100%);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  color: #fff;
}
.SelectWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Heading {
  width: 100%;
  font-weight: 800;
  color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.SelectInfo {
  font-size: 0.8em;
}
.Select {
  background: #ffffff;
  width: 100%;
  height: 70px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
  font-family: "PublicSans";
  font-weight: 800;
  font-size: 1em;
  color: #2f2f2f;
  margin-bottom: 35px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Select::-ms-expand {
  display: none;
}
.SelectIcon {
  position: absolute;
  top: 63px;
  right: 25px;
  width: 10px;
  height: 10px;
  pointer-events: none;
  border-right: 2.5px solid #b3b3b3;
  border-bottom: 2.5px solid #b3b3b3;
  box-sizing: border-box;
  transform: rotate(45deg);
}
.Select:hover ~ .select-icon,
.Select:focus ~ .select-icon {
  background-color: white;
  border-color: #dcdcdc;
}
.Select:hover ~ .select-icon svg.icon,
.Select:focus ~ .select-icon svg.icon {
  fill: #c0392b;
}
.ButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.Option {
  height: 30px;
  font-family: "PublicSans";
  font-weight: 600;
  color: #2f2f2f;
  margin-bottom: 35px;
}
.Button {
  width: 60px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  font-weight: 800;
  font-family: "PublicSans";
  margin: 2px;
  color: #2f2f2f;
  outline: 0;
  cursor: pointer;
  font-size: 1em;
}
.ButtonActive,
.Button:hover {
  background: linear-gradient(115.41deg, #cd8a64 -1.77%, #c4794f 73.03%);
  color: #fff;
}

.InputWrapper {
  width: 80px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-family: "PublicSans";
  color: #2f2f2f;
  margin: 2px;
  box-sizing: border-box;
}
.Input {
  outline: 0;
  border: 0;
  width: 55px;
  height: 22px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 800;
  font-family: "PublicSans";
  color: #2f2f2f;
  text-align: center;
  border-bottom: 1px solid #c9c9c9;
  font-size: 1em;
}

@media (max-width: 900px) {
  .MainPage {
    width: 100%;
  }
  .Button,
  .InputWrapper {
    margin: 5px;
  }
  .ButtonsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .ButtonsWrapper {
    justify-content: center;
  }
}
button {
  padding: 0;
}
