.Content {
  background: url("../assets/images/dog.png") no-repeat right top;
  background-size: 300px;
  margin-top: 70px;
  width: 80%;
  max-width: 1200px;
  display: flex;
  padding-bottom: 100px;
}
@media (max-width: 1050px) {
  .Content {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .Content {
    background: #fff;
  }
}
