.ErrorMessage {
  border: 1px solid rgb(194, 62, 62);
  border-radius: 7px;
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  color: rgb(194, 62, 62);
  box-sizing: border-box;
}
