.Footer {
  border-top: 1px solid rgba(47, 47, 47, 0.16);
  padding-top: 100px;
  width: 80%;
  max-width: 1200px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
}
.FooterColumn {
  width: 170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 0.85em;
  color: #585757;
}
.FooterColumn p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.FooterColumn a {
  text-decoration: none;
  color: #585757;
  line-height: 200%;
}
.FooterColumn a:hover {
  color: #bd6f41;
}
.FooterHeading {
  color: #2f2f2f;
  font-weight: 800;
  margin-bottom: 15px;
}
@media (max-width: 1050px) {
  .Footer {
    width: 90%;
  }
}
@media (max-width: 760px) {
  .Footer {
    flex-direction: column;
    padding-top: 10px;
    height: auto;
  }
  .FooterColumn {
    width: 100%;
    padding: 10px;
    min-height: 30px;
    height: auto;
    text-align: center;
  }
  .FooterColumn img {
    max-height: 30px;
  }
  .FooterColumn p {
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
  }
  .FooterHeading {
    color: #2f2f2f;
    font-weight: 800;
    margin-bottom: 5px;
  }
}
