.Header {
  background-color: #fefefe;
  height: 40px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9f9f9f;
  font-size: 0.9em;
}
.HeaderText {
  width: 80%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Social {
  display: flex;
}
.Social a {
  margin: 0 10px;
}
@media (max-width: 1050px) {
  .HeaderText {
    width: 90%;
  }
}
