.IndicatorsWrapper {
  display: flex;
}
.Indicator {
  width: 20px;
  height: 6px;
  background-color: rgba(159, 159, 159, 0.3);
  margin: 0 3px;
  border-radius: 6px;
}
.Active {
  width: 44px;
  background: linear-gradient(
      94.75deg,
      rgba(0, 0, 0, 0.24) 0%,
      rgba(0, 0, 0, 0) 100.7%
    ),
    #cd8b65;
}
