.Input {
  width: 100%;
  position: relative;
  margin: 10px 0;
}
.Input input {
  font-family: "PublicSans";
  font-weight: 800;
  font-size: 1em;
  padding: 20px;
  display: block;
  width: 100%;
  height: 70px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  box-sizing: border-box;
}
.Input input:focus {
  outline: none;
}
.Input label {
  color: #2f2f2f;
  font-family: "PublicSans";
  font-weight: 800;
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 25px;
  transition: 0.2s ease all;
}
.Input input:focus ~ label,
.Input input:valid ~ label {
  top: 5px;
  font-size: 0.8em;
  color: #9f9f9f;
  font-weight: 400;
}
