@font-face {
  font-family: "Hind";
  font-weight: 700;
  src: local("Hind"), url(./assets/fonts/Hind-Bold.ttf) format("opentype");
}
@font-face {
  font-family: "PublicSans";
  font-weight: 400;
  src: local("PublicSans"),
    url(./assets/fonts/PublicSans-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "PublicSans";
  font-weight: 600;
  src: local("PublicSans"),
    url(./assets/fonts/PublicSans-SemiBold.ttf) format("opentype");
}
@font-face {
  font-family: "PublicSans";
  font-weight: 800;
  src: local("PublicSans"),
    url(./assets/fonts/PublicSans-ExtraBold.ttf) format("opentype");
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "PublicSans";
}
h1 {
  font-family: "Hind";
  font-size: 2.6em;
  line-height: 110%;
}
